<MudDialog>
    <DialogContent>
        <MudForm Model="SelectedSetting" @ref="Form" Class="pt-3">
            <MudGrid Justify="Justify.Center" Spacing="1" Style="overflow-y: auto; max-height: calc(100vh - 144.5px)">
             
                <MudItem xs="12"><ImportSettingsStringPropertyItem Label="@Localizer["Namn"]" @bind-Value="SelectedSetting.Name" /></MudItem>
                <MudItem xs="12"><ImportSettingsStringPropertyItem Label="@Localizer["Kontokod - A-pris faktor"]" @bind-Value="@SelectedSetting.CostFactorAccount" /></MudItem>
                <MudItem xs="12"><ImportSettingsStringPropertyItem Label="@Localizer["Kontokod - Nettokalkyl"]" @bind-Value="@SelectedSetting.NetCostAccount" /></MudItem>
                <MudItem xs="12"><ImportSettingsStringPropertyItem Label="@Localizer["Kontokod - Försäljningspris"]" @bind-Value="@SelectedSetting.CostBeforeChangesAccount" /></MudItem>

                <MudItem xs="12"><ImportSettingsStringPropertyItem Label="@Localizer["Tagg för dolda rader"]" @bind-Value="@SelectedSetting.HiddenTag" /></MudItem>
                <MudItem xs="12"><ImportSettingsStringPropertyItem Label="@Localizer["Tagg för dold enhet"]" @bind-Value="@SelectedSetting.HiddenUnitTag" /></MudItem>

                <MudItem xs="12"><MudSwitch @bind-Checked="SelectedSetting.UseRevisionAsSelectionTags" Label="@Localizer["Revision som valtagg"]" Color="Color.Primary" /></MudItem>
                <MudItem xs="12">
                    <MudField Label="@Localizer["Valtaggar"]" Variant="Variant.Outlined">
                        @if (SelectedSetting.SelectionTags is not null)
                        {
                            @foreach (var tagg in SelectedSetting.SelectionTags)
                            {
                                <ImportSettingsTaggItem Tagg="@tagg" OnDeleteClick="DeleteSelectionTag" />
                            }
                        }
                        <ImportSettingsAddTaggItem OnAddClick="AddSelectionTag" MaxLength="20" />
                    </MudField>
                </MudItem>
                <MudItem xs="12">
                    <MudField Label="@Localizer["Snabbtaggar"]" Variant="Variant.Outlined">
                        @if (SelectedSetting.QuickTags is not null)
                        {
                            @foreach (var tagg in SelectedSetting.QuickTags)
                            {
                                <ImportSettingsTaggItem Tagg="@tagg" OnDeleteClick="DeleteQuickTag" />
                            }
                        }
                        <ImportSettingsAddTaggItem OnAddClick="AddQuickTag" MaxLength="20" />
                    </MudField>
                </MudItem>
                
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <div Class="pr-4 pb-2">
            <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Inherit">@Localizer["Stäng"]</MudButton>
            <MudButton OnClick="SaveAndClose" Variant="Variant.Filled" Color="Color.Success">@Localizer["Spara och stäng"]</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code{
    [Inject] public required IStringLocalizer<EditSettingsDialog> Localizer { get; set; }
    [CascadingParameter] public required MudDialogInstance MudDialog { get; set; }
    [Parameter, EditorRequired] public required EstimationImportSettings SelectedSetting { get; set; }

    public MudForm? Form { get; set; }

    void SaveAndClose () => MudDialog.Close();
    void Cancel() => MudDialog.Cancel();


    public void AddSelectionTag(string tag)
    {
        SelectedSetting.SelectionTags?.Add(tag);
        StateHasChanged();
    }
    public void DeleteSelectionTag(string tag)
    {
        SelectedSetting.SelectionTags?.Remove(tag);
        StateHasChanged();
    }
    public void AddQuickTag(string tag)
    {
        SelectedSetting.QuickTags?.Add(tag);
        StateHasChanged();
    }
    public void DeleteQuickTag(string tag)
    {
        SelectedSetting.QuickTags?.Remove(tag);
        StateHasChanged();
    }
}