@page "/settings"
@using Client.Features.Settings.Appearance
@using Client.Features.Settings.BidconCredentials
@using Client.Features.Settings.EstimationView
@using Client.Features.Settings.License
@using Client.Features.Settings.Roles

<div style="overflow: auto; max-height: 100%">
    <MudContainer MaxWidth="MaxWidth.Medium">

        <MudStack Spacing="4" Class="py-4">
            
            @*Only one of these expansionframes should be expanded at a time to ensure synchronization of data*@

            <ExpansionFrame TitleText="@Localizer["Utseende"]" Style="background-color: var(--mud-palette-background)">
                <AppearanceFrameContent />
            </ExpansionFrame>

            <ExpansionFrame TitleText="@Localizer["Vy mallar"]" Style="background-color: var(--mud-palette-background)">
                <EstimationViewFrameContent />
            </ExpansionFrame>

            <ExpansionFrame TitleText="@Localizer["Databas"]" Style="background-color: var(--mud-palette-background)">
                <CredentialsFrameContent />
            </ExpansionFrame>

            <ExpansionFrame TitleText="@Localizer["Licenser"]" Style="background-color: var(--mud-palette-background)">
                <LicenseFrameContent />
            </ExpansionFrame>

            <ExpansionFrame TitleText="@Localizer["Roller"]" Style="background-color: var(--mud-palette-background)">
                <RolesFrameContent />
            </ExpansionFrame>
            
        </MudStack>

    </MudContainer>
</div>

@code {
    [Inject] public required IStringLocalizer<SettingsPage> Localizer { get; set; }
}
