@inject IStringLocalizer<SectionEditor> Localizer

<ToolbarSection Title="@Localizer["Sektion"]">
    <div class="d-flex gap-2">
        <div class="d-flex flex-column gap-2">
            @*  <div> *@
            <MudMenu Dense="true" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                <ActivatorContent>
                    <MudIconButton Variant="Variant.Outlined" Color="Color.Primary" Icon="@Icons.Material.Sharp.Add" />
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem OnClick="AddDataSection">@Localizer["Datasektion"]</MudMenuItem>
                    <MudMenuItem OnClick="AddSheetSection">@Localizer["Tabellsektion"]</MudMenuItem>
                </ChildContent>
            </MudMenu>
            <MudIconButton Variant="Variant.Outlined" Color="Color.Error" Icon="@Icons.Material.Sharp.Delete" Disabled="ViewPresenter?.SelectedSection is null" />
            @* </div> *@

            @* <div>
            <MudButton StartIcon="@Icons.Material.Sharp.Delete" Variant="Variant.Outlined" Color="Color.Error" Disabled="ViewPresenter?.SelectedSection is null" />
            </div> *@

        </div>

    </div>



</ToolbarSection>

@code {
    [CascadingParameter] public ViewPresenter? ViewPresenter { get; set; }

    void AddDataSection()
    {
        ViewPresenter?.View?.AddEmpryDataSection();
        ViewPresenter?.NotifyStateChanged();
    }
    void AddSheetSection()
    {
        ViewPresenter?.View?.AddEmpryDataSection();
        ViewPresenter?.NotifyStateChanged();
    }
    void DeleteSection()
    {
        if (ViewPresenter?.SelectedSection is null)
        {
            return;
        }
        else if (ViewPresenter?.SelectedSection is SheetSection sheetSection)
        {
            ViewPresenter.View?.SheetSections.Remove(sheetSection);
        }
        else if (ViewPresenter?.SelectedSection is DataSection dataSection)
        {
            ViewPresenter.View?.DataSections.Remove(dataSection);
        }
        ViewPresenter?.SetSelectedSection(null);
    }
}