<MudForm Model="Settings" @ref="Form" Style="overflow-y: scroll">
    <MudTextField T="string"
                  Label="Kontokod - A-pris faktor"
                  @bind-Value="Settings!.CostFactorAccount"
                  Variant="Variant.Text"
                  For="() => Settings!.CostFactorAccount" 
                  ReadOnly="!EditMode"/>
    <MudTextField T="string"
                  Label="Kontokod - Försäljningspr"
                  @bind-Value="Settings!.CostBeforeChangesAccount"
                  Variant="Variant.Text"
                  For="() => Settings!.CostBeforeChangesAccount"
                  ReadOnly="!EditMode" />
    <MudTextField T="string"
                  Label="Kontokod - Nettokalkyl"
                  @bind-Value="Settings!.NetCostAccount"
                  Variant="Variant.Text"
                  For="() => Settings!.NetCostAccount"
                  ReadOnly="!EditMode" />
    <MudTextField T="string"
                  Label="Tagg för dolda rader"
                  @bind-Value="Settings!.HiddenTag"
                  Variant="Variant.Text"
                  For="() => Settings!.NetCostAccount" 
                  ReadOnly="!EditMode" />
    <MudTextField T="string"
                  Label="Tagg för dolda rader"
                  @bind-Value="Settings!.HiddenTag"
                  Variant="Variant.Text"
                  For="() => Settings!.NetCostAccount" 
                  ReadOnly="!EditMode" />


        <MudPaper Elevation="1" Class="d-flex rounded align-center">

            @if(EditMode)
            {
                <MudPaper Class="rounded-r-0" Elevation="0">
                <input Placeholder="Tagg" class="ma-0 pl-2 no-outline" style="width: 130px;" @bind="StyleTaggInputField"/>
                </MudPaper>

                <MudPaper Class="rounded-l-0" Elevation="0" Style="@($"background:{Theme?.Palette.Success};")">
                    <MudIconButton Variant="Variant.Filled"
                                Icon="@Icons.Material.Filled.Add"
                                Class="rounded-l-0"
                                Style="@($"color:{Theme?.Palette.PrimaryContrastText}; padding: 2px;")"
                               OnClick="AddStyleTagg" />
                </MudPaper>
            }
            @foreach (var tagg in Settings.StyleTags)
            {
                <p>@($"StyleTagg {tagg}. This is a placeholder")</p>
            }

        </MudPaper>

    <MudPaper Elevation="1" Class="d-flex rounded align-center">

        @if (EditMode)
        {
            <MudPaper Class="rounded-r-0" Elevation="0">
                <input Placeholder="Tagg" class="ma-0 pl-2 no-outline" style="width: 130px;" @bind="StyleTaggInputField" />
            </MudPaper>

            <MudPaper Class="rounded-l-0" Elevation="0" Style="@($"background:{Theme?.Palette.Success};")">
                <MudIconButton Variant="Variant.Filled"
                           Icon="@Icons.Material.Filled.Add"
                           Class="rounded-l-0"
                           Style="@($"color:{Theme?.Palette.PrimaryContrastText}; padding: 2px;")"
                           OnClick="AddStyleTagg" />
            </MudPaper>
        }
        @foreach (var tagg in Settings.OptionTags)
        {
            <p>@($"StyleTagg {tagg}. This is a placeholder")</p>
        }

    </MudPaper>

</MudForm>


@code{
    [CascadingParameter] private MudTheme? Theme { get; set; }
    [Parameter] public bool EditMode { get; set; } = false;
    [Parameter, EditorRequired] public EstimationImportSettings? Settings { get; set; }
    private string StyleTaggInputField { get; set; } = string.Empty;
    private string OptionTaggInputField { get; set; } = string.Empty;
    private MudForm? Form { get; set; }
    


    private void AddStyleTagg()
    {
        if (string.IsNullOrEmpty(StyleTaggInputField) || Settings!.StyleTags.Contains(StyleTaggInputField)) return;
        Settings.StyleTags.Add(StyleTaggInputField);
        StyleTaggInputField = string.Empty;
        StateHasChanged();
    }
    private void RemoveStyleTagg(string tagg)
    {
        Settings!.StyleTags.Remove(tagg);
        StateHasChanged();
    }
    private void AddOptionTagg()
    {
        if (string.IsNullOrEmpty(OptionTaggInputField) || Settings!.OptionTags.Contains(OptionTaggInputField)) return;
        Settings.OptionTags.Add(OptionTaggInputField);
        OptionTaggInputField = string.Empty;
        StateHasChanged();
    }
    private void RemoveOptionTagg(string tagg)
    {
        Settings!.OptionTags.Remove(tagg);
        StateHasChanged();
    }
    private Task SaveAsync()
    {
        throw new NotImplementedException();
    }
}