<MudDialog>
    <DialogContent>
        <MudForm Model="Template" @ref="Form" Class="pt-3">
            <div class="d-flex flex-column gap-4" style="overflow-y: auto; height: calc(100vh - 144.5px - 100px);">
             
                <MudTextField @bind-Value="Template.Name" Label="@Localizer["Namn"]" Variant="Variant.Outlined" Margin="Margin.Dense"/>
                
                <ReportHeaderEditor Header="Template.TopLeftHeader" Title="@Localizer["Vänster sidhuvud"]"/>
                <ReportHeaderEditor Header="Template.TopLeftHeader" Title="@Localizer["Höger sidhuvud"]" />

                <ReportTemplateSectionOrderer Template="Template" OnEditRequest="EditSection" />

                @if(CurrentSection is TitleSection)
                {
                    <div class="border bodred-solid mt-4 pa-4 @(CurrentSection == Template.TitleSection ? "expand" : "d-none")" style="border-color: var(--mud-palette-lines-inputs); overflow-y: auto;">
                        <TitleSectionEditor Section="Template.TitleSection" />
                    </div>
                }
                @if(CurrentSection is InformationSection)
                {
                    <div class="border bodred-solid mt-4 pa-4 @(CurrentSection == Template.InformationSection ? "expand" : "d-none")" style="border-color: var(--mud-palette-lines-inputs); overflow-y: auto;">
                        <InformationSectionEditor Section="Template.InformationSection" />
                    </div>
                }
                @if(CurrentSection is PriceSection)
                {
                    <div class="border bodred-solid mt-4 pa-4 @(CurrentSection == Template.PriceSection ? "expand" : "d-none")" style="border-color: var(--mud-palette-lines-inputs); overflow-y: auto;">
                        <PriceSectionEditor Section="Template.PriceSection" />
                    </div>
                }
                @if (CurrentSection is TableSection)
                {
                    <div class="border bodred-solid mt-4 pa-4 @(CurrentSection == Template.TableSection ? "expand" : "d-none")" style="border-color: var(--mud-palette-lines-inputs); overflow-y: auto;">
                        <TableSectionEditor Section="Template.TableSection" />
                    </div>
                }
            </div>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <div Class="pr-4 pb-2">
            <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Inherit">@Localizer["Stäng"]</MudButton>
            <MudButton OnClick="SaveAndClose" Variant="Variant.Filled" Color="Color.Success">@Localizer["Spara och stäng"]</MudButton>
        </div>
    </DialogActions>
</MudDialog>


@code{
    [Inject] public required IStringLocalizer<EditTemplateDialog> Localizer { get; set; }
    [CascadingParameter] public required MudDialogInstance MudDialog { get; set; }
    [Parameter, EditorRequired] public required ReportTemplate Template { get; set; }

    private bool OutAnimation { get; set; } = false;
    private IReportTemplateSection? CurrentSection { get; set; }

    public MudForm? Form { get; set; }

    void SaveAndClose()
    {
        Form!.Validate();
        if(Form!.IsValid)
        {
            MudDialog.Close();
        }
    }
    void Cancel() => MudDialog.Cancel();

    void EditSection(IReportTemplateSection section)
    {
        CurrentSection = section;
    }


}