<MudDialog>
    <DialogContent>
        <MudForm Model="Template" @ref="Form" Class="pt-3">
            <div style="overflow-y: auto; height: calc(100vh - 144.5px - 100px);">
             
                <MudTextField @bind-Value="Template.Name" Label="@Localizer["Namn"]" Variant="Variant.Outlined" Margin="Margin.Dense"/>
                <div class="mt-4" />
                <ReportHeaderEditor Header="Template.TopLeftHeader" Title="@Localizer["Vänster sidhuvud"]"/>
                <div class="mt-4" />
                <ReportHeaderEditor Header="Template.TopLeftHeader" Title="@Localizer["Höger sidhuvud"]" />
                <div class="mt-4"/>
                <ReportTemplateSectionOrderer Template="Template" OnEditRequest="EditSection" />
                <div class="mt-4" />

           @*     <MudCollapse Expanded="CurrentSection == Template.TitleSection">
                    <TitleSectionEditor Section="Template.TitleSection" />
                </MudCollapse>
                <MudCollapse Expanded="CurrentSection == Template.InformationSection">
                    <InformationSectionEditor Section="Template.InformationSection" />
                </MudCollapse>
                <MudCollapse Expanded="CurrentSection == Template.PriceSection">
                    <PriceSectionEditor Section="Template.PriceSection" />
                </MudCollapse>
                <MudCollapse Expanded="CurrentSection == Template.TableSection">
                    <TableSectionEditor Section="Template.TableSection" />
                </MudCollapse>*@
            </div>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <div Class="pr-4 pb-2">
            <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Inherit">@Localizer["Stäng"]</MudButton>
            <MudButton OnClick="SaveAndClose" Variant="Variant.Filled" Color="Color.Success">@Localizer["Spara och stäng"]</MudButton>
        </div>
    </DialogActions>
</MudDialog>


@code{
    [Inject] public required IStringLocalizer<EditTemplateDialog> Localizer { get; set; }
    [CascadingParameter] public required MudDialogInstance MudDialog { get; set; }
    [Parameter, EditorRequired] public required ReportTemplate Template { get; set; }

    private bool OutAnimation { get; set; } = false;
    private IReportTemplateSection? CurrentSection { get; set; }

    public MudForm? Form { get; set; }

    void SaveAndClose()
    {
        Form!.Validate();
        if(Form!.IsValid)
        {
            MudDialog.Close();
        }
    }
    void Cancel() => MudDialog.Cancel();

    void EditSection(IReportTemplateSection section)
    {
        CurrentSection = section;
    }


}