<ExpansionFrame TitleText="@Localizer["Sektioner"]">
    <table class="table-row-border">
        
        @foreach (var section in Template.SectionsInOrder)
        {
            <tr>
                <td class="px-2">
                    <ExpansionFrame Style="width: 100%" IconCollapsed="@Icons.Material.Sharp.Edit" IconExpanded="@Icons.Material.Sharp.Edit" IconHeight="30px" IconWidth="30px" Border="false" Expanded="false" UnderlinedTitle="false">
                        <TitleContent>
                            <div class="d-flex">
                                <MudText Class="flex-grow-1 d-flex align-center" Typo="Typo.subtitle1">@GetSectionName(section)</MudText>
                                <MudSwitch @bind-Checked="section.IsEnabled" Color="Color.Primary" Style="margin: 0; margin-inline: 0;" />
                                <MudIconButton Icon="@Icons.Material.Sharp.ArrowUpward" Color="Color.Primary" Class="my-auto" Style="height:30px; width: 30px;" Disabled="IsFirst(section)" OnClick="() => MoveUp(section)" />
                                <MudIconButton Icon="@Icons.Material.Sharp.ArrowDownward" Color="Color.Primary" Class="my-auto" Style="height:30px; width: 30px;" Disabled="IsLast(section)" OnClick="() => MoveDown(section)" />

                            </div>
                        </TitleContent>
                        <ChildContent>
                            @if (section is TitleSectionDTO)
                            {
                                <TitleSectionEditor Section="Template.TitleSection" />
                            }
                            @if (section is InformationSectionDTO)
                            {
                                <InformationSectionEditor Section="Template.InformationSection" />
                            }
                            @if (section is PriceSectionDTO)
                            {
                                <PriceSectionEditor Section="Template.PriceSection" />
                            }
                            @if (section is TableSectionDTO)
                            {
                                <TableSectionEditor Section="Template.TableSection" />
                            }
                        </ChildContent>
                    </ExpansionFrame>
                </td>
            </tr>         
        }
    </table>
</ExpansionFrame>


@code {
    [Parameter, EditorRequired] public required ReportTemplateDto Template { get; set; }
    [Inject] public required IStringLocalizer<ReportTemplateSectionOrderer> Localizer { get; set; }

    private string GetSectionName(IReportTemplateSectionDTO section)
    {
        if (section is TitleSectionDTO) return Localizer["Titel"];
        if (section is InformationSectionDTO) return Localizer["Allmän info"];
        if (section is PriceSectionDTO) return Localizer["Prissummering"];
        if (section is TableSectionDTO) return Localizer["Tabell"];

        throw new Exception("Pattern matching failed");
    }
    private bool IsFirst(IReportTemplateSectionDTO section)
    {
        return Template.SectionsInOrder.First() == section;
    }
    private bool IsLast(IReportTemplateSectionDTO section)
    {
        return Template.SectionsInOrder.Last() == section;
    }
    private void MoveUp(IReportTemplateSectionDTO section)
    {
        var index = GetIndex(section);
        var otherSection = Template.SectionsInOrder.ElementAt(index - 1);
        Swap(section, otherSection);
    }
    private void MoveDown(IReportTemplateSectionDTO section)
    {
        var index = GetIndex(section);
        var otherSection = Template.SectionsInOrder.ElementAt(index + 1);
        Swap(section, otherSection);
    }
    private int GetIndex(IReportTemplateSectionDTO section)
    {
        var index = Template.SectionsInOrder
            .Select((x, i) => new { Index = i, Section = x })
            .Where(item => item.Section == section)
            .Single()
            .Index;
        return index;
    }
    void Swap(IReportTemplateSectionDTO section1, IReportTemplateSectionDTO section2)
    {
        var tempValue = section2.LayoutOrder;
        section2.LayoutOrder = section1.LayoutOrder;
        section1.LayoutOrder = tempValue;
    }
}
