@page "/Settings/ViewSettings/Edit/{ViewId}"
@using AppPlatform.Core.Enteties.EstimationEnteties
@using AppPlatform.Core.Enums.BidconAccess
@using AppPlatform.Shared.Components
@using AppPlatform.Shared.Components.Dialogs
@using AppPlatform.ViewSettingsModule.Services
@using Microsoft.AspNetCore.Components.Authorization
@using AppPlatform.Shared.Components.View

@layout MainLayout
@inject IStringLocalizer<EditViewPage> Localizer
@implements IAsyncDisposable



<div class="relative" style="height: 100%">

    <PageSetupWithNavigation MobileBreakpoint="Breakpoint.MdAndDown" DesktopBreakpoint="Breakpoint.LgAndUp">
        <NavigationContent>

            <MudStack Spacing="0" Row="IsMdAndDown" Style="min-width: 150px;">
                <MudButton OnClick="() => ActiveTab = TabType.Common" Variant="Variant.Text" Icon="@Icons.Material.Sharp.Settings" Class="px-3 justify-start" Style="@TabPanelButtonColorStyle(TabType.Common)">@Localizer["Allmänt"]</MudButton>
                <MudButton OnClick="() => ActiveTab = TabType.Format" Variant="Variant.Text" Icon="@Icons.Material.Sharp.FormatColorText" Class="px-4 justify-start" Style="@TabPanelButtonColorStyle(TabType.Format)">@Localizer["Format"]</MudButton>
                
                <MudButton OnClick="() => ActiveTab = TabType.Tags" Variant="Variant.Text" Icon="@Icons.Material.Sharp.Tag" Class="px-3 justify-start" Style="@TabPanelButtonColorStyle(TabType.Tags)">@Localizer["Taggar"]</MudButton>
                <MudButton OnClick="() => ActiveTab = TabType.Rights" Variant="Variant.Text" Icon="@Icons.Material.Sharp.AdminPanelSettings" Class="px-3 justify-start" Style="@TabPanelButtonColorStyle(TabType.Rights)">@Localizer["Rättigheter"]</MudButton>
            </MudStack>

        </NavigationContent>

        <ChildContent>
            <div class="relative" style="height: 100%">
                <MudOverlay DarkBackground="true" Visible="IsLoading" Absolute="true">
                    <MudProgressCircular Size="Size.Large" Color="Color.Primary" Indeterminate="true" />
                </MudOverlay>
             @*    <MudToolBar Dense="true" DisableGutters="true" Class="border-b border-solid d-flex gap-2 px-2">

                    <MudIconButton Variant="Variant.Outlined" Color="Color.Success" Icon="@Icons.Material.Sharp.Save" />
                    <MudIconButton Variant="Variant.Outlined" Color="Color.Error" Icon="@Icons.Material.Sharp.Delete" OnClick="Delete" />

                </MudToolBar> *@

                <CascadingValue Value="this">
                    @switch (ActiveTab)
                    {
                        case TabType.Format:
                            <ViewPresenter EditMode="true" View="View" Estimation="SampleEstimation()" />
                            break;
                        case TabType.Common:
                            <div class="pa-2">
                                <SettingsSection>
                                    <div class="d-flex gap-2">
                                        <MudButton Variant="Variant.Outlined" Color="Color.Success" StartIcon="@Icons.Material.Sharp.Save">@Localizer["Spara"]</MudButton>
                                        <MudButton Variant="Variant.Outlined" Color="Color.Error" StartIcon="@Icons.Material.Sharp.Delete" OnClick="Delete">@Localizer["Ta bort"]</MudButton>
                                    </div>
                                    <MudTextField T="string" Variant="Variant.Outlined" Value="View?.Name" ValueChanged="SetName" Label="@Localizer["Namn"]" Margin="Margin.Dense"/>
                                </SettingsSection>
                            </div>
                            
                            break;
                        case TabType.Tags:
                            <p>Taggar....</p>
                            break;
                        case TabType.Rights:
                            <ViewRights View="View" />
                            break;
                    }
                </CascadingValue>
                

            </div>
        </ChildContent>

    </PageSetupWithNavigation>

</div>

@inject IViewService _viewService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject IBrowserViewportService BrowserViewportService

@code{
    [Parameter] public string? ViewId { get; set; }

    enum TabType
    {
        Format,
        Common,
        Tags,
        Rights,

    }


    bool IsLoading { get; set; } = false;
    View? View { get; set; }
    TabType ActiveTab = TabType.Common;
    Guid ObserverId = Guid.NewGuid();
    Breakpoint CurrentBreakPoint;
    Breakpoint LastBreakPoint;
    bool IsMdAndDown => CurrentBreakPoint == Breakpoint.Xs || CurrentBreakPoint == Breakpoint.Sm || CurrentBreakPoint == Breakpoint.Md;
    string TabPanelButtonColorStyle(TabType tab) => ActiveTab == tab ? "background-color: var(--mud-palette-primary-hover); color: var(--mud-palette-primary);" : "";

    protected override Task OnInitializedAsync()
    {
        return LoadDataAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BrowserViewportService.SubscribeAsync(ObserverId, (args) =>
            {
                LastBreakPoint = CurrentBreakPoint;
                CurrentBreakPoint = args.Breakpoint;
                if (LastBreakPoint != CurrentBreakPoint)
                {
                    StateHasChanged();
                }
            });
        }

        await base.OnAfterRenderAsync(firstRender);
    }
    public async ValueTask DisposeAsync() => await BrowserViewportService.UnsubscribeAsync(ObserverId);

    async Task LoadDataAsync()
    {
        if (ViewId is not null)
        {
            SetLoading(true);
            var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            View = await _viewService.GetAsync(state.User, ViewId);
            SetLoading(false);
        }
    }
    async Task SetName(string name)
    {
        if (View is not null)
        {
            View.Name = name;
            var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            await _viewService.UpsertAsync(state.User, View);
        }
    }
    public void SetLoading(bool isLoading)
    {
        IsLoading = isLoading;
        StateHasChanged();
    }
    async Task Delete()
    {
        if (View is not null)
        {
            var parameters = new DialogParameters<YesNoDialog> {
                { x => x.Info, Localizer["Är du säker på att du vill ta bort vyn?"] },
                { x => x.YesButtonColor, Color.Error }
            };
            var dialog = await DialogService.ShowAsync<YesNoDialog>(Localizer["Bekräfta borttagning"], parameters);
            var result = await dialog.Result;
            if (result?.Data is true)
            {
                var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
                await _viewService.DeleteAsync(state.User, View);
                NavigationManager.NavigateTo(Constants.Routes.ViewListPage);
            }
        }
    }
    Estimation SampleEstimation()
    {
        return new Estimation
            {
                BidconId = "123",
                ConfirmationOfficer = "Test",
                Customer = "Test",
                Description = "Test",
                HandlingOfficer = "Test",
                Name = "Test",
                Place = "Test",
                NetSheet = new SheetItem
                {
                    Description = "Root",
                    Type = (int)RowType.Group,
                    Children = new List<SheetItem>
                    {
                        new SheetItem
                        {
                            Description = "Group",
                            Type = (int)RowType.Group,
                            Children = new List<SheetItem>
                            {
                                new SheetItem
                                {
                                    Description = "Part",
                                    Type = (int)RowType.Part,
                                    Children = new List<SheetItem>
                                    {
                                        new SheetItem
                                        {
                                            Description = "Post",
                                            Type = (int)RowType.LayeredItem,

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            };
    }
}





