<div class="cell-expand-button" style="@_indentStyle">
    <MudToggleIconButton Icon="@Icons.Material.Sharp.KeyboardArrowRight" ToggledIcon="@Icons.Material.Sharp.KeyboardArrowDown" Toggled="@Toggled" ToggledChanged="@ToggledChanged" Class="pa-1" />
</div>

@code{
    [Parameter] public int IndentLevel { get; set; }
    [Parameter] public bool Toggled { get; set; }
    [Parameter] public EventCallback<bool> ToggledChanged { get; set; }

    string _indentStyle => $"left: {IndentLevel * 16 - 8}px;";
}