@using AppPlatform.Core.Enums.ViewTemplate
@using AppPlatform.Shared.Services.Views
@using System.Globalization
@inject IViewClassService ViewClassService
@inject IStringLocalizer<SheetSectionPresenter> Localizer


@if (Section is not null && Estimation is not null && View is not null)
{
    TypeToClassNameMap = new();
    <style>
        @foreach (var column in Section.Columns)
        {
            TypeToClassNameMap.Add(column.ColumnType, "c" + Guid.NewGuid().ToString());
            <text>
                @($".{TypeToClassNameMap[column.ColumnType]} {{")
                    @ViewClassService.CreateSheetColumnStyles(column.ColumnType.ToString(), column, Section.Columns.Sum(x => x.Width))
                @("}")
            </text>
        }
    </style>

    <MudSimpleTable Hover="false" Dense="true" Bordered="false" Style="width: 900px;">
        <tbody>
            <tr>
                @foreach (var column in Section.Columns.OrderBy(x => x.Order))
                {
                    <th>@GetColumnName(column.ColumnType)</th>
                }
            </tr>
            <MudVirtualize T="SheetItem" Items="Estimation.NetSheet!.AllInOrder.Skip(1).ToList()">
                <tr>
                    @foreach (var column in Section.Columns.OrderBy(x => x.Order))
                    {
                        <td class="@TypeToClassNameMap[column.ColumnType]">@GetColumnDataFromItem(column.ColumnType, context)</td>
                    }
                </tr>
            </MudVirtualize>
        </tbody>
    </MudSimpleTable>
}

@code {
    [Parameter, EditorRequired] public SheetSection? Section { get; set; }
    [Parameter] public bool EditMode { get; set; } = false;
    [Parameter, EditorRequired] public Estimation? Estimation { get; set; }
    [Parameter, EditorRequired] public View? View { get; set; }

    Dictionary<SheetColumnType, string> TypeToClassNameMap { get; set; } = new();

    string? GetColumnDataFromItem(SheetColumnType type, SheetItem item)
    {
        return type switch
        {
            SheetColumnType.Description => item.Description,
            SheetColumnType.Quantity => item.Quantity.ToString(),
            SheetColumnType.Unit => item.Unit,
            SheetColumnType.UnitCost => item.UnitCost is null ? string.Empty : ((double)item.UnitCost).ToString("F1", CultureInfo.InvariantCulture),
            SheetColumnType.TotalCost => item.TotalCost is null ? string.Empty : ((double)item.TotalCost).ToString("F1", CultureInfo.InvariantCulture),
            SheetColumnType.UnitAskingPrice => item.UnitAskingPrice is null ? string.Empty : ((double)item.UnitAskingPrice).ToString("F1", CultureInfo.InvariantCulture),
            SheetColumnType.TotalAskingPrice => item.TotalAskingPrice is null ? string.Empty : ((double)item.TotalAskingPrice).ToString("F1", CultureInfo.InvariantCulture),
            _ => throw new NotImplementedException()
        };
    }
    string? GetColumnName(SheetColumnType type)
    {
        return type switch
        {
            SheetColumnType.Description => Localizer["Benämning"],
            SheetColumnType.Quantity => Localizer["Mängd"],
            SheetColumnType.Unit => Localizer["Enhet"],
            SheetColumnType.UnitCost => Localizer["Enhetskostnad"],
            SheetColumnType.TotalCost => Localizer["Total kostnad"],
            SheetColumnType.UnitAskingPrice => Localizer["Enhetspris kund"],
            SheetColumnType.TotalAskingPrice => Localizer["Total kundpris"],
            _ => throw new NotImplementedException()
        };
    }
}