@using AppPlatform.Core.Enums.ViewTemplate
@using AppPlatform.Shared.Services.Views
@using System.Globalization
@inject IViewStyleService ViewClassService
@inject IStringLocalizer<SheetSectionPresenter> Localizer


@if (Section is not null && Estimation is not null && View is not null)
{
    ColumnTypeToStyleMapper = new();
    RowTypeToStyleMapper = new();
    <style>
        @foreach (var column in Section.Columns)
        {
            ColumnTypeToStyleMapper.Add(column.ColumnType, "c" + Guid.NewGuid().ToString());
            <text>
                @($"table tbody tr .{ColumnTypeToStyleMapper[column.ColumnType]} {{")
                    @ViewClassService.CreateSheetColumnStyles(column, Section.Columns.Sum(x => x.Width))
                @("}")
            </text>
        }
        @foreach (var format in Section.RowFormats)
        {
            RowTypeToStyleMapper.Add(format.RowType, "r" + Guid.NewGuid().ToString());
            <text>
                @($"table tbody tr .{RowTypeToStyleMapper[format.RowType]} {{")
                    @ViewClassService.CreateFormatStyles(format))
                @("}")
            </text>
        }
    </style>

    <MudSimpleTable Hover="false" Dense="true" Bordered="false">
        <tbody>
            <tr>
                @foreach (var column in Section.Columns.OrderBy(x => x.Order))
                {
                    <th>@GetColumnName(column.ColumnType)</th>
                }
            </tr>
            <MudVirtualize T="SheetItem" Items="Estimation.NetSheet!.AllInOrder.Skip(1).ToList()">
                <tr>
                    @foreach (var column in Section.Columns.OrderBy(x => x.Order))
                    {
                        <td class="@tdStyle(column.ColumnType, context)">@GetColumnDataFromItem(column.ColumnType, context)</td>
                    }
                </tr>
            </MudVirtualize>
        </tbody>
    </MudSimpleTable>
}

@code {
    [Parameter, EditorRequired] public SheetSection? Section { get; set; }
    [Parameter] public bool EditMode { get; set; } = false;
    [Parameter, EditorRequired] public Estimation? Estimation { get; set; }
    [Parameter, EditorRequired] public View? View { get; set; }

    Dictionary<SheetColumnType, string> ColumnTypeToStyleMapper { get; set; } = new();
    Dictionary<SheetRowType, string> RowTypeToStyleMapper { get; set; } = new();

    string tdStyle(SheetColumnType cType, SheetItem item)
    {
        var rType = item.RowType switch
        {
            (int)AppPlatform.Core.Enums.BidconAccess.RowType.Group => SheetRowType.Group,
            (int)AppPlatform.Core.Enums.BidconAccess.RowType.Part => SheetRowType.Part,
            _ => SheetRowType.Post
        };
        return $"{ColumnTypeToStyleMapper[cType]} {RowTypeToStyleMapper[rType]}";
    }

    string? GetColumnDataFromItem(SheetColumnType type, SheetItem item)
    {
        return type switch
        {
            SheetColumnType.Description => item.Description,
            SheetColumnType.Quantity => item.Quantity.ToString(),
            SheetColumnType.Unit => item.Unit,
            SheetColumnType.UnitCost => item.UnitCost is null ? string.Empty : ((double)item.UnitCost).ToString("F1", CultureInfo.InvariantCulture),
            SheetColumnType.TotalCost => item.TotalCost is null ? string.Empty : ((double)item.TotalCost).ToString("F1", CultureInfo.InvariantCulture),
            SheetColumnType.UnitAskingPrice => item.UnitAskingPrice is null ? string.Empty : ((double)item.UnitAskingPrice).ToString("F1", CultureInfo.InvariantCulture),
            SheetColumnType.TotalAskingPrice => item.TotalAskingPrice is null ? string.Empty : ((double)item.TotalAskingPrice).ToString("F1", CultureInfo.InvariantCulture),
            _ => throw new NotImplementedException()
        };
    }
    string? GetColumnName(SheetColumnType type)
    {
        return type switch
        {
            SheetColumnType.Description => Localizer["Benämning"],
            SheetColumnType.Quantity => Localizer["Mängd"],
            SheetColumnType.Unit => Localizer["Enhet"],
            SheetColumnType.UnitCost => Localizer["Enhetskostnad"],
            SheetColumnType.TotalCost => Localizer["Total kostnad"],
            SheetColumnType.UnitAskingPrice => Localizer["Enhetspris kund"],
            SheetColumnType.TotalAskingPrice => Localizer["Total kundpris"],
            _ => throw new NotImplementedException()
        };
    }
}