@using Client.Shared.Constants;
@inherits LayoutComponentBase

<MudThemeProvider Theme="CustomThemes.PlatformStandard" @bind-IsDarkMode="IsDarkMode" DefaultScrollbar="false" />
<MudDialogProvider FullWidth="true"
                    MaxWidth="MaxWidth.ExtraSmall"
                    CloseButton="true"
                    DisableBackdropClick="true"
                    NoHeader="false"
                    Position="DialogPosition.Center"
                    CloseOnEscapeKey="true" />
<MudSnackbarProvider />

<CascadingValue Name="DarkModeAction" Value="SetDarkMode">

    <AppBar Height="50px">
        <MudIcon Icon="@CustomIcons.ReportsForBidcon" Color="Color.Primary" Style="height: 50px; width: 50px;" Class="pa-1"/>
        <AuthorizeView>
            <Authorized>
                <MudDivider Light="false" Vertical="true" FlexItem="true" Class="my-2 mr-2" />
                <MudTooltip Text="@Localizer["Startsida"]" RootClass="align-self-center">
                    <MudButton Href="@ClientRoutes.Dashboard" Class="py-1 px-3" Variant="Variant.Text" Color="Color.Inherit" Style="@StyleService.CreateNavigationButtonStyle("dashboard")">
                        <MudIcon Icon="@Icons.Material.Sharp.Dashboard" />
                    </MudButton>
                </MudTooltip>
                <MudTooltip Text="@Localizer["Importera från BidCon"]" RootClass="align-self-center">
                    <MudButton Href="@ClientRoutes.Import" Class="py-1 px-3" Variant="Variant.Text" Color="Color.Inherit" Style="@StyleService.CreateNavigationButtonStyle("bidcon")">
                        <MudIcon Icon="@CustomIcons.BidconIcon" />
                    </MudButton>
                </MudTooltip>
                <MudTooltip Text="@Localizer["Inställningar"]" RootClass="align-self-center">
                    <MudButton Href="@ClientRoutes.Settings" Class="py-1 px-3" Variant="Variant.Text" Color="Color.Inherit" Style="@StyleService.CreateNavigationButtonStyle("settings")">
                        <MudIcon Icon="@Icons.Material.Sharp.Settings" />
                    </MudButton>
                </MudTooltip>
            </Authorized>
        </AuthorizeView>
    </AppBar>


<div style="position: fixed; height: calc(100% - 50px); width: 100%; top: 50px; background-color: var(--mud-palette-background-grey); z-index: 500;">
    @Body
</div>
    
</CascadingValue>

@code {
    [Inject] public required IStringLocalizer<MainLayout> Localizer { get; set; }
    [Inject] public required StyleService StyleService { get; set; }
    [Inject] public required IDarkModeService DarkModeService { get; set; }

    bool IsDarkMode { get; set; } = false;
    MudTheme Theme { get; set; } = CustomThemes.PlatformStandard;

    protected override async Task OnInitializedAsync()
    {
        var isDarkMode = await DarkModeService.GetUserDarkModeSettingAsync();
        SetDarkMode(isDarkMode);
    }

    void SetDarkMode(bool isDarkMode)
    {
        IsDarkMode = isDarkMode;
        StateHasChanged();
    }

}