@page "/Settings/Roles/Edit/{RoleId}"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject IStringLocalizer<EditRoleAccessPage> Localizer
@layout SettingsLayout


<SettingsPageBase>
    <SettingsSection>
        <div class="d-flex">
            @* <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="Delete">@Localizer["Ta bort roll"]</MudButton> *@
            <MudIconButton Variant="Variant.Outlined" Color="Color.Error" Icon="@Icons.Material.Sharp.Delete" OnClick="Delete" />
        </div>
    </SettingsSection>

    <SettingsSection Title="@Localizer["Roll"]">
        <MudTextField T="string" Variant="Variant.Outlined" Value="Role?.Name" ValueChanged="SetName" Label="@Localizer["Namn"]"/>
        <MudTextField T="string" Variant="Variant.Outlined" Value="Role?.Description" ValueChanged="SetDescription" 
                      Label="@Localizer["Beskrivning"]" Lines="3"/>
    </SettingsSection>

    <SettingsSection Title="@Localizer["Rättigheter"]" LoadDataAsync="LoadRoleDataAsync">
        <MudOverlay DarkBackground="true" Visible="IsLoading" Absolute="true">
            <MudProgressCircular Size="Size.Large" Color="Color.Primary" Indeterminate="true" />
        </MudOverlay>
        <AccessClaimValuePicker AccessClaimValues="Access.Select(x => x.AccessClaimValue)" CheckChanged="RoleAccessCheckBoxClick"/>
    </SettingsSection>
    
    <SettingsSection Title="@Localizer["Användare"]">
        <UserList Users="Users" />
    </SettingsSection>

</SettingsPageBase>


@inject IAccessService AccessService
@inject IRoleService RoleService
@inject IAccessClaimInfoContainer AccessClaimInfoContainer
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMicrosoftGraphUserAccess MicrosoftGraphUserAccess
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

    @code{
    [Parameter] public string? RoleId { get; set; }
    Role? Role { get; set; }
    List<RoleAccess> Access { get; set; } = new();
    bool IsLoading { get; set; } = false;
    ClaimsPrincipal? UserClaims { get; set; }
    List<UserWithPhoto> Users { get; set; } = new();


    async Task Delete()
    {
        if (Role is not null)
        {
            var parameters = new DialogParameters<YesNoDialog> { 
                { x => x.Info, Localizer["Är du säker på att du vill ta bort rollen?"] },
                { x => x.YesButtonColor, Color.Error }
            };
            var dialog = await DialogService.ShowAsync<YesNoDialog>(Localizer["Bekräfta borttagning"], parameters);
            var result = await dialog.Result;
            if (result?.Data is true)
            {
                await RoleService.DeleteRoleAsync(Role);
                NavigationManager.NavigateTo(Constants.ModuleRoutes.RoleListPage);
            }
        }
    }
    async Task<ClaimsPrincipal?> GetClaimsPrincipalAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        return state.User;
    }
    async Task SetName(string value)
    {
        var userClaims = await GetClaimsPrincipalAsync();
        if (Role is not null && userClaims is not null)
        {
            Role.Name = value;
            await RoleService.UpsertRoleAsync(userClaims, Role);
        }
    }
    async Task SetDescription(string value)
    {
        var userClaims = await GetClaimsPrincipalAsync();
        if (Role is not null && userClaims is not null)
        {
            Role.Description = value;
            await RoleService.UpsertRoleAsync(userClaims, Role);
        }
    }
    async Task LoadRoleDataAsync()
    {
        SetIsLoading(true);
        if (RoleId is not null)
        {
            var access = await AccessService.GetRoleAccessClaimValuesAsync(RoleId);
            Access = access.ToList();
            Role = await RoleService.GetRoleAsync(RoleId);
            var users = await MicrosoftGraphUserAccess.GetUsersWithPhotoAsync();
            var userRoles = await RoleService.GetUserRolesForRoleAsync(RoleId);
            Users = users.Where(u => userRoles.Any(ur => ur.UserId == u.User.Id)).ToList();
        }
        SetIsLoading(false);
    }
    void SetIsLoading(bool isLoading)
    {
        IsLoading = isLoading;
        StateHasChanged();
    }
    async Task RoleAccessCheckBoxClick(CheckChangedRecord<IAccessClaimInfo> checkedRecord)
    {
        if (checkedRecord.IsChecked)
        {
            await CreateRoleAccess(checkedRecord.Data.Value);
        }
        else
        {
            await DeleteRoleAccess(checkedRecord.Data.Value);
        }
    }
    async Task CreateRoleAccess(string accessClaimValue)
    {
        if (Role?.Id is not null)
        {
            var roleAccess = new RoleAccess
                {
                    RoleId = Role.Id,
                    AccessClaimValue = accessClaimValue
                };
            await AccessService.CreateRoleAccessAsync(roleAccess);
            Access.Add(roleAccess);
        }
    }
    async Task DeleteRoleAccess(string accessClaimValue)
    {
        var roleAccess = Access.FirstOrDefault(x => x.AccessClaimValue == accessClaimValue);
        if (roleAccess is not null)
        {
            await AccessService.DeleteRoleAccessAsync(roleAccess);
            Access.Remove(roleAccess);
        }
    }
}