@using Microsoft.AspNetCore.Components.Authorization
@inject IStringLocalizer<RolePicker> Localizer
<MudSimpleTable Dense="true" Bordered="false">
    <thead>
        <tr>
            <th class="pl-2">
                @Localizer["Aktiv"]
            </th>
            <th>
                @Localizer["Namn"]
            </th>
            <th>
                @Localizer["Beskrivning"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in AllRoles)
        {
            <tr>
                <td class="pl-2">
                    <MudCheckBox T="bool"
                                 Dense="true"
                                 Value="@CheckedRoles.Any(x => x.Id == role.Id)"
                             ValueChanged="x => TriggerCheckChanged(role, x)" />
                </td>
                <td>
                    @role.Name
                </td>
                <td>
                    @role.Description
                </td>
            </tr>

        }
    </tbody>
</MudSimpleTable>

@inject IRoleService RoleService
@inject AuthenticationStateProvider AuthenticationStateProvider

@code {
    [Parameter] public List<Role> CheckedRoles { get; set; } = new List<Role>();
    [Parameter] public EventCallback<CheckChangedRecord<Role>> CheckChanged { get; set; }

    List<Role> AllRoles { get; set; } = new List<Role>();

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        AllRoles = await RoleService.GetRolesAsync(state.User);
    }
    async Task TriggerCheckChanged(Role role, bool value)
    {
        await CheckChanged.InvokeAsync(new(role, value));
        StateHasChanged();
    }
}