@page "/Settings/UserRightSettings"
@layout SettingsLayout
@inject IStringLocalizer<SettingsPage> Localizer

<MudTabs Border="true" Elevation="0">
    <MudTabPanel Text="@Localizer["Användare"]" Icon="@Icons.Material.Sharp.People" >
        <SettingsPageBase>
            <MudList Clickable="true" >
                @foreach (var user in Users)
                {
                    <MudListItem OnClick="() => EditUserAccess(user)">
                        <div class="d-flex" style="align-items: center; ">
                            <MudAvatar>
                                @if(user.PhotoBase64 != null)
                                {
                                    <MudImage Src="@($"data:image/png;base64, {user.PhotoBase64}")" Alt="User photo" />
                                }
                                else
                                {
                                    <div class="pa-0">
                                        @user.User.DisplayName?.First()
                                    </div>
                                }
                            </MudAvatar>
                            <MudText Class="pl-2" Typo="Typo.subtitle2">@user.User.DisplayName</MudText>
                        </div>
                        
                    </MudListItem>
                }
            </MudList>
           
        </SettingsPageBase>
    </MudTabPanel>
    <MudTabPanel Text="@Localizer["Roller"]" Icon="@Icons.Material.Sharp.Shield">
        <SettingsPageBase>
            Roller
        </SettingsPageBase>
    </MudTabPanel>
</MudTabs>


@inject IMicrosoftGraphUserAccess MicrosoftGraphUserAccess
@inject IUserAccessService UserAccessService
@inject NavigationManager NavigationManager

@code{
    List<UserWithPhoto> Users { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Users.AddRange(await MicrosoftGraphUserAccess.GetUsersWithPhotoAsync());
    }
    void EditUserAccess(UserWithPhoto user)
    {
        NavigationManager.NavigateTo($"{Constants.ModuleRoutes.UserAccessSettings}?Id={user.User.Id}");
    }
}