@page "/orders"

<PageLayout>
    <NavigationContent>
        <MudStack Spacing="0">
            <MudButton Href="orders/OrderSubPage1" Class="py-1 px-3 justify-start" Variant="Variant.Text" StartIcon="@Icons.Material.Sharp.AccountBox" Style="@StyleService.CreateNavigationButtonStyle("orders/OrderSubPage1")">Status</MudButton>
            <MudButton Href="orders/OrderSubPage2" Class="py-1 px-3 justify-start" Variant="Variant.Text" StartIcon="@Icons.Material.Sharp.AccountBox" Style="@StyleService.CreateNavigationButtonStyle("orders/OrderSubPage2")">Status</MudButton>
            <MudButton Href="orders/OrderSubPage3" Class="py-1 px-3 justify-start" Variant="Variant.Text" StartIcon="@Icons.Material.Sharp.AccountBox" Style="@StyleService.CreateNavigationButtonStyle("orders/OrderSubPage3")">Status</MudButton>
        </MudStack>
    </NavigationContent>
    <ChildContent>
        @if (ChildContent is not null)
        {
            @ChildContent
        }
        else
        {
            <div>this is from the /orders page</div>
        }
    </ChildContent>
</PageLayout>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Inject] public required StyleService StyleService { get; set; }
}
