@using Client.Shared.Components.DropDown
@using Client.Shared.EstimationViewTemplate.Models;
@using SharedLibrary.Enums.ViewTemplate;


<DropDown Disabled="Column is null" >
    <ActivatorContent>
        <div style="display: flex; height: 27px; align-items: center; padding: 4px;">
            <span class="d-flex flex-grow-1">
                @if (Column is not null)
                {
                    @ColumnTypeNamesMap[Column.ColumnType]
                }
            </span>
            <MudIcon Icon="@Icons.Material.Sharp.KeyboardArrowDown" />
        </div>
       @*  <span class="d-flex flex-grow-1">
            @if (Column is not null)
            {
                @ColumnTypeNamesMap[Column.ColumnType]
            }
        </span>
        <MudIcon Icon="@Icons.Material.Sharp.KeyboardArrowDown" /> *@
    </ActivatorContent>
    <DropDownContent>
        @if (Column is not null)
        {
            <DropDownItem CloseOnClick="true" OnClick="() => SetColumnType(SheetColumnType.Description)">@ColumnTypeNamesMap[SheetColumnType.Description]</DropDownItem>
            <DropDownItem CloseOnClick="true" OnClick="() => SetColumnType(SheetColumnType.Quantity)">@ColumnTypeNamesMap[SheetColumnType.Quantity]</DropDownItem>
            <DropDownItem CloseOnClick="true" OnClick="() => SetColumnType(SheetColumnType.Unit)">@ColumnTypeNamesMap[SheetColumnType.Unit]</DropDownItem>
            <DropDownItem CloseOnClick="true" OnClick="() => SetColumnType(SheetColumnType.UnitCost)">@ColumnTypeNamesMap[SheetColumnType.UnitCost]</DropDownItem>
            <DropDownItem CloseOnClick="true" OnClick="() => SetColumnType(SheetColumnType.TotalCost)">@ColumnTypeNamesMap[SheetColumnType.TotalCost]</DropDownItem>
            <DropDownItem CloseOnClick="true" OnClick="() => SetColumnType(SheetColumnType.UnitAskingPrice)">@ColumnTypeNamesMap[SheetColumnType.UnitAskingPrice]</DropDownItem>
            <DropDownItem CloseOnClick="true" OnClick="() => SetColumnType(SheetColumnType.TotalAskingPrice)">@ColumnTypeNamesMap[SheetColumnType.TotalAskingPrice]</DropDownItem>
        }
        
    </DropDownContent>
</DropDown>

@code {
    [Inject] public required IStringLocalizer<SheetColumnTypeDropdown> Localizer { get; set; }

    [Parameter, EditorRequired] public required SheetColumn? Column { get; set; }
    [Parameter] public string Height { get; set; } = "30px";

    // bool IsActive = false;

    // string DropDownClass => $"dropdown {DropDownDisabledClass}";
    // string DropDownDisabledClass => Column is null ? "dropdown-disabled" : "dropdown-enabled";

    // string DropDownContentClass => IsActive ? $"dropdown-content-active" : $"dropdown-content-inactive";

    Dictionary<SheetColumnType, string> ColumnTypeNamesMap = new();

    protected override void OnInitialized()
    {
        ColumnTypeNamesMap.Add(SheetColumnType.Description, Localizer["Benämning"]);
        ColumnTypeNamesMap.Add(SheetColumnType.Quantity, Localizer["Mängd"]);
        ColumnTypeNamesMap.Add(SheetColumnType.Unit, Localizer["Enhet"]);
        ColumnTypeNamesMap.Add(SheetColumnType.UnitCost, Localizer["Netto/enhet"]);
        ColumnTypeNamesMap.Add(SheetColumnType.TotalCost, Localizer["Netto totalt"]);
        ColumnTypeNamesMap.Add(SheetColumnType.UnitAskingPrice, Localizer["Apris/enhet"]);
        ColumnTypeNamesMap.Add(SheetColumnType.TotalAskingPrice, Localizer["Apris totalt"]);
    }
    void SetColumnType(SheetColumnType type)
    {
        if(Column is not null)
        {
            Column.ColumnType = type;
        }
    }
}
