@using System.Globalization;
@using Client.Shared.EstimationViewTemplate.Models;
@using SharedLibrary.Enums.ViewTemplate;

<style>
    .cell-unselected {
        /* padding: 4px; */
 /*        border: 0px;
        border-style: solid; */
        /* border-color: transparent; */
    }

    .cell-unselected:hover {
        background-color: var(--mud-palette-action-default-hover);
       /*  padding: 3px;
        border: 1px;
        border-style: solid;
        border-color: var(--mud-palette-text-primary); */
    }

    .cell-selected {
       /*  padding: 2px;
        border: 2px;
        border-style: solid;
        border-color: var(--mud-palette-primary); */
        background-color: var(--mud-palette-primary-hover);
    }

    .cell {
        transition-property: width;
        transition-duration: 100ms;
        transition-timing-function: ease-in-out;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: flex-end; 
        flex-wrap: wrap;
        cursor: cell;
        width: 100%;
        padding: 4px;
    }
    .column{
        display: flex;
       /*  transition: width 100ms ease-in-out; */
    }

    .row {
        display: flex;
        min-height: 15px;
    }
</style>
<SheetToolbar IsActive="IsSelected" SelectedColumn="SelectedColumn" SelectedCell="SelectedCell" Section="Section" 
              StateChangeRequest="StateHasChanged" ColumnDeleted="() => {SelectedColumn = null; SelectedCell = null;}" />
<div class="row">
    
    @foreach (var column in Section.Columns)
    {
        var groupCell = column.Cells.First(x => x.RowType == SheetRowType.Group);
        <div @onclick="() => SetSelection(column, groupCell)"
             style="@(CellStyle(groupCell) + ColumnStyle(column))"
             class="@CellClass(groupCell)">
            @($"{Localizer["Grupp"]} - {ColumnTypeNamesMap[column.ColumnType]}")
        </div>
    }
</div>
<div class="row">
    
    @foreach (var column in Section.Columns)
    {
        var partCell = column.Cells.First(x => x.RowType == SheetRowType.Part);
        <div @onclick="() => SetSelection(column, partCell)"
             style="@(CellStyle(partCell) + ColumnStyle(column))"
             class="@CellClass(partCell)">
            @($"{Localizer["Del"]} - {ColumnTypeNamesMap[column.ColumnType]}")
        </div>
    }
</div>
<div class="row">
    
    @foreach (var column in Section.Columns)
    {
        var postCell = column.Cells.First(x => x.RowType == SheetRowType.Post);
        <div @onclick="() => SetSelection(column, postCell)"
             style="@(CellStyle(postCell) + ColumnStyle(column))"
             class="@CellClass(postCell)">
            @($"{Localizer["Post"]} - {ColumnTypeNamesMap[column.ColumnType]}")
        </div>
    }
</div>

@code {
    [Inject] public required IStringLocalizer<SheetSectionIllustator> Localizer { get; set; }
    [Parameter, EditorRequired] public required SheetSection Section { get; set; }
    [Parameter, EditorRequired] public bool IsSelected { get; set; }

    SheetColumn? SelectedColumn;
    SheetCell? SelectedCell;

    int ColumnWidthSum => Section.Columns.Sum(x => x.Width);

    string CellClass(SheetCell column) => SelectedCell == column && IsSelected ? "cell column cell-selected" : "cell column cell-unselected";


    Dictionary<SheetColumnType, string> ColumnTypeNamesMap = new();

    protected override void OnInitialized()
    {
        ColumnTypeNamesMap.Add(SheetColumnType.Description, Localizer["Benämning"]);
        ColumnTypeNamesMap.Add(SheetColumnType.Quantity, Localizer["Mängd"]);
        ColumnTypeNamesMap.Add(SheetColumnType.Unit, Localizer["Enhet"]);
        ColumnTypeNamesMap.Add(SheetColumnType.UnitCost, Localizer["Netto/enhet"]);
        ColumnTypeNamesMap.Add(SheetColumnType.TotalCost, Localizer["Netto totalt"]);
        ColumnTypeNamesMap.Add(SheetColumnType.UnitAskingPrice, Localizer["Apris/enhet"]);
        ColumnTypeNamesMap.Add(SheetColumnType.TotalAskingPrice, Localizer["Apris totalt"]);
    }
    void SetSelection(SheetColumn column, SheetCell cell)
    {
        SelectedColumn = column;
        SelectedCell = cell;
    }
    string WidthPercent(SheetColumn column)
    {
        var widthSum = Section.Columns.Sum(x => x.Width);
        double percent = (double)column.Width / (double)widthSum * 100;
        return percent.ToString(CultureInfo.InvariantCulture);
    }
    string ColumnStyle(SheetColumn column)
    {
        var width = $"width: {WidthPercent(column)}%;";
        return width;
    }
    string CellStyle(SheetCell cell)
    {
        var verticalAlignment = "vertical-align: bottom;";
        var font = $"font-family: {cell.CellFormat.FontFamily};";
        var bold = "font-weight: " + (cell.CellFormat.Bold ? "bold" : "normal") + ";";
        var italic = cell.CellFormat.Italic ? "font-style: italic;" : string.Empty;
        var underline = cell.CellFormat.Underline ? "text-decoration: underline;" : string.Empty;
        var alignment = cell.CellFormat.Align switch
        {
            SharedLibrary.Enums.ViewTemplate.Align.Left => "text-align: left;",
            SharedLibrary.Enums.ViewTemplate.Align.Center => "text-align: center;",
            SharedLibrary.Enums.ViewTemplate.Align.Right => "text-align: right;",
            _ => string.Empty,
        };
        var fontSize = $"font-size: {(int)(cell.CellFormat.FontSize * 1.33)}px;";
        var borderStyle = "border-style: solid;";
        // var borderColor = "border-color: var(--mud-palette-lines-inputs)";
        var border = $"border-width: {Convert.ToInt32(cell.CellFormat.BorderTop)}px {Convert.ToInt32(cell.CellFormat.BorderRight)}px {Convert.ToInt32(cell.CellFormat.BorderBottom)}px {Convert.ToInt32(cell.CellFormat.BorderLeft)}px;";

        return font + italic + bold + underline + alignment + fontSize + verticalAlignment + borderStyle + border;
    }
}
