@using SharedPlatformLibrary.Constants;
<div class="d-flex justify-end mud-elevation-1" style="background-color: var(--mud-palette-table-lines);">
    @if (SelectedSetting is not null)
    {
        <MudIconButton Icon="@Icons.Material.Sharp.Save" OnClick="SaveAsync" Style="height: 40px; width: 40px;" />
        <MudIconButton Icon="@Icons.Material.Sharp.Delete" OnClick="DeleteAsync" Style="height: 40px; width: 40px;" />
    }
    <MudIconButton Icon="@Icons.Material.Sharp.Add" OnClick="CreateNew" Style="height: 40px; width: 40px;" />
</div>

<MudStack Spacing="2" Class="pt-6">    

    <MudSelect Class="px-6"
                @bind-Value="SelectedSetting"
                T="EstimationImportSettings"
                MultiSelection="false"
                ToStringFunc="ConvertFunc"
                Label="@Localizer["Inställningsprofil"]"
                Variant="Variant.Outlined"
                AnchorOrigin="Origin.BottomCenter"
                Margin="Margin.Dense">
        @foreach (var item in AllSettings)
        {
            <MudSelectItem Value="item"/>
        }
    </MudSelect>

    <MudSwitch Class="px-6" T="bool" Disabled="SelectedSetting is null || SelectedSetting.Id == 0" Checked="IsStandardSettings(SelectedSetting)" CheckedChanged="OnSelectedSettingsStandardValueChanged" Label="@Localizer["Standardprofil"]" Color="Color.Primary" />

    @if(SelectedSetting is not null)
    {
        <MudForm Model="SelectedSetting" @ref="Form" Style="overflow-y: auto" Class="px-6">
            <ImportSettingsEditor Settings="SelectedSetting"/>
        </MudForm>
    }

</MudStack>





@code {
    private EstimationImportSettings? _selectedSetting;

    [CascadingParameter] public required MudTheme Theme { get; set; }
    [Inject] public required IStringLocalizer<ImportSettingsView> Localizer { get; set; }
    [Inject] public required ISnackbar Snackbar { get; set; }
    [Inject] public required IImportSettingsService ImportSettingsService { get; set; }
    [Inject] public required AuthenticationStateProvider AuthStateProvider { get; set; }

    public EstimationImportSettings? SelectedSetting
    {
        get => _selectedSetting; set
        {
            _selectedSetting = value;
            SelectedSettingChanged.InvokeAsync(value);
        }
    }
    [Parameter] public EventCallback<EstimationImportSettings> SelectedSettingChanged { get; set; }
    public EstimationImportSettings? DefaultSetting { get; set; } = null;
    public List<EstimationImportSettings> AllSettings { get; set; } = new();
    public Func<EstimationImportSettings, string> ConvertFunc { get; set; } = s => s.Name;
    public MudForm? Form { get; set; }

    public async Task SetSelectedSettingsAsync(EstimationImportSettings? settings)
    {
        if(settings is not null)
        {
            var state = await AuthStateProvider.GetAuthenticationStateAsync();
            var orgId = state.User.Claims.Where(x => x.Type == CustomClaimTypes.CurrentOrganization).FirstOrDefault()?.Value;
            if(orgId is not null)
            {
                settings.OrganizationId = orgId;
            }
        }
        SelectedSetting = settings;
        StateHasChanged();
    }

    public bool IsStandardSettings(EstimationImportSettings? settings)
    {
        if (DefaultSetting is null || settings is null) return false;

        return settings.Id == DefaultSetting.Id;
    }
    public async Task OnSelectedSettingsStandardValueChanged(bool isStandard)
    {
        if (SelectedSetting is not null)
        {
            try
            {
                if(isStandard)
                {
                    await ImportSettingsService.SaveAsStandardAsync(SelectedSetting);
                }
                else
                {
                    await ImportSettingsService.SaveAsStandardAsync(null);
                }

            }
            catch (Exception)
            {
                Snackbar.Add(Localizer[$"Misslyckades updatera standardval för inställningsprofil"], Severity.Error);
            }
            await SetAllAndStandardSettings();
            StateHasChanged();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await SetAllAndStandardSettings();
        await SetSelectedSettingsAsync(DefaultSetting);
    }
    public async Task SetAllAndStandardSettings()
    {
        AllSettings = (await GetAllSettingsAsync()).ToList();
        DefaultSetting = await GetStandardSettingsAsync();
    }
    public async Task<EstimationImportSettings?> GetStandardSettingsAsync()
    {
        try
        {
            return await ImportSettingsService.GetStandardAsync();
        }
        catch (Exception)
        {
            Snackbar.Add(Localizer["Ingen standardinställning hittades"], Severity.Info);
            return null;
        }
    }
    public async Task<ICollection<EstimationImportSettings>> GetAllSettingsAsync()
    {
        try
        {
            return await ImportSettingsService.GetAllAsync();
        }
        catch (Exception)
        {
            Snackbar.Add(Localizer["Misslyckades att hämta inställningsprofiler"], Severity.Error);
            return Array.Empty<EstimationImportSettings>();
        }
    }
    public async void CreateNew()
    {
        await SetSelectedSettingsAsync(EstimationImportSettings.Empty);
    }
    private async Task SaveAsync()
    {
        try
        {
            if(SelectedSetting is not null)
            {
                await ImportSettingsService.UpsertAsync(SelectedSetting);
                await SetAllAndStandardSettings();
                var settingToSelect = AllSettings.Where(x => x.Name == SelectedSetting.Name).First();
                await SetSelectedSettingsAsync(settingToSelect);
            }
        }
        catch (Exception)
        {
            Snackbar.Add(Localizer["Misslyckades att spara inställningsprofil"], Severity.Error);
        }
    }
    private async Task DeleteAsync()
    {
        try
        {
            if (SelectedSetting is not null)
            {
                await ImportSettingsService.DeleteAsync(SelectedSetting.Id);
                await SetSelectedSettingsAsync(null);
                await SetAllAndStandardSettings();
                StateHasChanged();
            }
        }
        catch (Exception)
        {
            Snackbar.Add(Localizer["Misslyckades att ta bort inställningsprofil"], Severity.Error);
        }
    }
}
