@page "/settings/organization"
@inject IStringLocalizer<OrganizationPage> Localizer
@inject NavigationManager NavigationManager

<SettingsPage Title="@Localizer["Organisation"]">
    
    <SettingsSection Title="@Localizer["Välj"]">
        <div class="d-flex gap-1">
            <OrganizationPicker />
            <MudIconButton Variant="Variant.Outlined" Icon="@Icons.Material.Sharp.Add" Color="@Color.Primary"
                           Style="margin-bottom: 2px; margin-top: 3px;"
                           OnClick="() => NavigationManager.NavigateTo(ApplicationRoutes.Settings.Organization.New)" />
            <MudIconButton Variant="Variant.Outlined" Icon="@Icons.Material.Sharp.Edit" Color="@Color.Primary"
                            Style="margin-bottom: 2px; margin-top: 3px;"
                            OnClick="() => NavigationManager.NavigateTo(ApplicationRoutes.Settings.Organization.Edit)" />
        </div>
    </SettingsSection>
    <SettingsSection Title="@Localizer["Prenumeration"]" DividerOnTop="true">
        <SubscriptionDisplay />
    </SettingsSection>
    <SettingsSection Title="@Localizer["Medlemmar"]" DividerOnTop="true">
        <UserList/>
    </SettingsSection>
    <SettingsSection Title="@Localizer["Medlemsförfrågningar"]" DividerOnTop="true">

    </SettingsSection>
    
</SettingsPage>