@using SharedWasmLibrary.Shared.Services;

<div class="d-flex" style="height: 100%;">

    <div class="py-4 d-flex align-stretch" style="height: 100%; flex-direction: column;">
        @foreach (var tab in Tabs!)
        {
            <MudHidden Breakpoint="Breakpoint.Xs">
                <MudButton OnClick="() => SetActiveTab(tab)" Class="py-1 px-3" Variant="Variant.Text" StartIcon="@tab.HeaderStartIcon" Style="@StyleService.CreateActiveTabButtonStyle(tab == ActiveTab)" FullWidth="true">
                    @tab.HeaderText
                </MudButton>
            </MudHidden>

            <MudHidden Breakpoint="Breakpoint.SmAndUp">
                <MudButton OnClick="() => SetActiveTab(tab)" Class="py-1 px-3" Variant="Variant.Text" Style="@StyleService.CreateActiveTabButtonStyle(tab == ActiveTab)" FullWidth="true">
                    <MudIcon Icon="@tab.HeaderStartIcon" Size="Size.Medium" Color="Color.Inherit"/>
                </MudButton>
            </MudHidden>
        }
    </div>

    <MudDivider Vertical="true"/>

    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
    
</div>

@code {
    [Inject] public required StyleService StyleService { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private List<PageTab> Tabs { get; set; } = new();
    internal PageTab? ActiveTab { get; set; }

    public void SetActiveTab(PageTab tab)
    {
        ActiveTab = tab;
        StateHasChanged();
    }
    public void AddTab(PageTab tab)
    {
        if (Tabs.Contains(tab)) return;
        Tabs.Add(tab);
        if(Tabs.Count == 1)
        {
            SetActiveTab(tab);
        }
        StateHasChanged();
    }
}
