<div>
    <FieldHeader Alignment="@Alignment" Title="@Title">
        @HeaderContent
    </FieldHeader>
    <MudField Class="@MudFieldClass" Style="@MudFieldStyle" Variant="Variant.Outlined" Margin="Margin.Dense">
        <div style="@_minChildHeight">
            @ChildContent
        </div>
    </MudField>
</div>


@code{
    [Parameter] public RenderFragment? HeaderContent { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public HeaderAlignment Alignment { get; set; }
    [Parameter] public string? MudFieldClass { get; set; } = "custom-input-1";
    [Parameter] public string? MudFieldStyle { get; set; }
    [Parameter] public string MinChildHeight { get; set; } = "92px";

    string _minChildHeight => $"min-height: {MinChildHeight}";

    public enum HeaderAlignment
    {
        Left,
        Right
    }
}