@using AppPlatform.ViewSettingsModule.Components.Section
@using Microsoft.AspNetCore.Components.Authorization

@inject IStringLocalizer<CommonTab> Localizer
@inject Helper Helper
@inject IViewService _viewService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDialogService DialogService
@inject NavigationManager NavigationManager



<SettingsSection Title="@Localizer["Sektioner"]">
    <SelectList T="ISection" Items="View!.SectionsInOrder().ToList()" GetItemNameFunc="x => x?.Name" ListVariant="ListVariant.List" AddAsyncFunc="NewSection" @bind-SelectedItem="SelectedSection" DeleteAsyncFunc="DeleteSection" ShowActions="true" ListStyle="min-height: 100px;">
        <ChildContent>
            <MudIconButton Icon="@Icons.Material.Sharp.ArrowUpward" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Medium"
                           Disabled="!CanMoveUp(SelectedSection)" OnClick="() => MoveUp(SelectedSection)" />
            <MudIconButton Icon="@Icons.Material.Sharp.ArrowDownward" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Medium"
                           Disabled="!CanMoveDown(SelectedSection)" OnClick="() => MoveDown(SelectedSection)" />
        </ChildContent>
        <ListItemContent>
            <div class="d-flex">
                <div style="width: 50%; display: flex;">
                    <span class="pr-1">@Localizer["Namn:"]</span>
                    <Microsoft.AspNetCore.Components.Forms.InputText @bind-Value="@context.Name" style="width: 100px;" />
                   @*  <MudTextField T="string" Variant="Variant.Outlined" Margin="Margin.Dense" @bind-Value="@context.Name" /> *@
                </div>
                <div style="width: 50%;">
                    <span class="pr-0">@Localizer["Typ: "]</span>
                    <span>@Helper.GetSectionTypeName(context)</span>
                </div>
                
            </div>

        </ListItemContent>
    </SelectList>

@*     @if(SelectedSection is not null)
    {
        <div class="d-flex gap-2">
            <MudTextField T="string" Variant="Variant.Outlined" Label="@Localizer["Namn"]" Margin="Margin.Dense" Value="SelectedSection.Name" ValueChanged="x => SelectedSection.Name = x"/>
            <MudTextField T="string" Variant="Variant.Outlined" Label="@Localizer["Typ"]" Margin="Margin.Dense" ReadOnly="true" Value="Helper.GetSectionTypeName(SelectedSection)" />
        </div>
    }
     *@
</SettingsSection>


<SettingsSection>
    @if (SelectedSection is SheetSection sheetSection)
    {
        <SheetSectionEditor Section="@sheetSection" View="View" />
    }
    else if (SelectedSection is DataSection dataSection)
    {
        <DataSectionEditor Section="@dataSection" View="View" />
    }
</SettingsSection>


@code{
    [Parameter] public View? View { get; set; }
    [CascadingParameter] public EditViewPage? EditViewPage { get; set; }

    ISection? SelectedSection { get; set; }

    protected override void OnInitialized()
    {
        SelectedSection = View?.SectionsInOrder().FirstOrDefault();
    }
    bool CanMoveUp(ISection? section)
    {
        if (View is null || section is null)
        {
            return false;
        }
        return View.SectionsInOrder().First() != section;
    }
    bool CanMoveDown(ISection? section)
    {
        if (View is null || section is null)
        {
            return false;
        }
        return View.SectionsInOrder().Last() != section;
    }
    void MoveUp(ISection? section)
    {
        if (View is null || section is null || !CanMoveUp(section))
        {
            return;
        }
        var value = section.Order - 1;
        var otherSection = View.SectionsInOrder().First(x => x.Order == value);
        otherSection.Order += 1;
        section.Order -= 1;
        EditViewPage?.TriggerStateHasChanged();
    }
    void MoveDown(ISection? section)
    {
        if (View is null || section is null || !CanMoveDown(section))
        {
            return;
        }
        var value = section.Order + 1;
        var otherSection = View.SectionsInOrder().First(x => x.Order == value);
        otherSection.Order -= 1;
        section.Order += 1;
        EditViewPage?.TriggerStateHasChanged();
    }

    async Task<ISection?> NewSection()
    {
        if(View is null)
        {
            return null;
        }

        var dialog = await DialogService.ShowAsync<NewSectionDialog>(Localizer["Ny sektion"]);
        var result = await dialog.Result;
        if (result?.Data is NewSectionDialogResult newSectionResult)
        {

            switch (newSectionResult.Type)
            {
                case SectionType.DataSection:
                    var dataSection = new DataSection { Name = newSectionResult.Name, Order = View.SectionsInOrder().Count() + 1 };
                    View?.DataSections.Add(dataSection);
                    EditViewPage?.TriggerStateHasChanged();
                    return dataSection;
                case SectionType.SheetSection:
                    var sheetSection = new SheetSection { Name = newSectionResult.Name, Order = View.SectionsInOrder().Count() + 1 };
                    View?.SheetSections.Add(sheetSection);
                    EditViewPage?.TriggerStateHasChanged();
                    return sheetSection;
                default:
                    throw new NotImplementedException();
            }
        }
        return null;
    }
    Task DeleteSection(ISection section)
    {
        if (View is not null)
        {
            if(section is DataSection dataSection)
            {
                View?.DataSections.Remove(dataSection);
            }
            else if (section is SheetSection sheetSection)
            {
                View?.SheetSections.Remove(sheetSection);
            }
            else
            {
                throw new NotImplementedException();
            }
        }
        EditViewPage?.TriggerStateHasChanged();
        return Task.CompletedTask;
    }
}