@using AppPlatform.ViewSettingsModule.Components.Sections
@using AppPlatform.ViewSettingsModule.Components.Sections.Data
@using AppPlatform.ViewSettingsModule.Components.Sections.Sheet
@using Microsoft.AspNetCore.Components.Authorization
@using AppPlatform.ViewSettingsModule.Components.Format
@inject IStringLocalizer<LayoutTab> Localizer
@inject Helper Helper
@inject IViewService _viewService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDialogService DialogService
@inject NavigationManager NavigationManager






<CustomMudField Title="@Localizer["Sektioner"]" Alignment="CustomMudField.HeaderAlignment.Right" MudFieldClass="custom-input-1" MudFieldStyle="min-height: 92px">
    <HeaderContent>
        <MudIconButton Icon="@Icons.Material.Sharp.Add" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Medium" OnClick="NewSection" />
        <MudIconButton Icon="@Icons.Material.Sharp.Delete" Variant="Variant.Outlined" Color="Color.Error" Size="Size.Medium" OnClick="() => DeleteSection(SelectedSection)" Disabled="SelectedSection is null" />
        <MudIconButton Icon="@Icons.Material.Sharp.ArrowUpward" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Medium"
        Disabled="!CanMoveUp(SelectedSection)" OnClick="() => MoveUp(SelectedSection)" />
        <MudIconButton Icon="@Icons.Material.Sharp.ArrowDownward" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Medium"
        Disabled="!CanMoveDown(SelectedSection)" OnClick="() => MoveDown(SelectedSection)" />
    </HeaderContent>

    <ChildContent>
        <ul>
            @foreach (var section in View!.SectionsInOrder())
            {
                <li class="@(section == SelectedSection ? "selected" : string.Empty)" @onclick="() => SelectedSection = section">
                    <div>
                        <div class="pr-1">@Localizer["Namn:"]</div>
                        <input class="elevation-1" @bind-value="section.Name" style="width: 100px;" />
                    </div>
                    <div>
                        <div class="pr-1">@Localizer["Typ:"]</div>
                        <div>@Helper.GetSectionTypeName(section)</div>
                    </div>


                </li>
            }
        </ul>
    </ChildContent>
</CustomMudField>







<SettingsSection>
    @if (SelectedSection is SheetSection sheetSection)
    {
        <SheetSectionEditor Section="@sheetSection" View="View" />
    }
    else if (SelectedSection is DataSection dataSection)
    {
        <DataSectionEditor Section="@dataSection" View="View" />
    }
</SettingsSection>


@code{
    [Parameter] public View? View { get; set; }
    [CascadingParameter] public EditViewPage? EditViewPage { get; set; }

    ISection? SelectedSection { get; set; }

    protected override void OnInitialized()
    {
        SelectedSection = View?.SectionsInOrder().FirstOrDefault();
    }
    bool CanMoveUp(ISection? section)
    {
        if (View is null || section is null)
        {
            return false;
        }
        return View.SectionsInOrder().First() != section;
    }
    bool CanMoveDown(ISection? section)
    {
        if (View is null || section is null)
        {
            return false;
        }
        return View.SectionsInOrder().Last() != section;
    }
    void MoveUp(ISection? section)
    {
        if (View is null || section is null || !CanMoveUp(section))
        {
            return;
        }
        var value = section.Order - 1;
        var otherSection = View.SectionsInOrder().First(x => x.Order == value);
        otherSection.Order += 1;
        section.Order -= 1;
        EditViewPage?.TriggerStateHasChanged();
    }
    void MoveDown(ISection? section)
    {
        if (View is null || section is null || !CanMoveDown(section))
        {
            return;
        }
        var value = section.Order + 1;
        var otherSection = View.SectionsInOrder().First(x => x.Order == value);
        otherSection.Order -= 1;
        section.Order += 1;
        EditViewPage?.TriggerStateHasChanged();
    }

    async Task<ISection?> NewSection()
    {
        if(View is null)
        {
            return null;
        }

        var dialog = await DialogService.ShowAsync<NewSectionDialog>(Localizer["Ny sektion"]);
        var result = await dialog.Result;
        if (result?.Data is NewSectionDialogResult newSectionResult)
        {

            switch (newSectionResult.Type)
            {
                case SectionType.DataSection:
                    var dataSection = new DataSection { Name = newSectionResult.Name, Order = View.SectionsInOrder().Count() + 1 };
                    View?.DataSections.Add(dataSection);
                    EditViewPage?.TriggerStateHasChanged();
                    return dataSection;
                case SectionType.SheetSection:
                    var sheetSection = new SheetSection { Name = newSectionResult.Name, Order = View.SectionsInOrder().Count() + 1 };
                    sheetSection.Columns.AddRange(
                    [
                        new SheetColumn { Order = 1, Width = 30, ColumnType = SheetColumnType.Description },
                        new SheetColumn { Order = 2, Width = 10, ColumnType = SheetColumnType.Quantity },
                        new SheetColumn { Order = 3, Width = 10, ColumnType = SheetColumnType.Unit },
                        new SheetColumn { Order = 4, Width = 10, ColumnType = SheetColumnType.UnitCost },
                        new SheetColumn { Order = 5, Width = 10, ColumnType = SheetColumnType.TotalCost },
                        new SheetColumn { Order = 6, Width = 10, ColumnType = SheetColumnType.UnitAskingPrice },
                        new SheetColumn { Order = 7, Width = 10, ColumnType = SheetColumnType.TotalAskingPrice },
                    ]);
                    View?.SheetSections.Add(sheetSection);
                    EditViewPage?.TriggerStateHasChanged();
                    return sheetSection;
                default:
                    throw new NotImplementedException();
            }
        }
        return null;
    }
    Task DeleteSection(ISection? section)
    {
        if (View is not null && section is not null)
        {
            if(section is DataSection dataSection)
            {
                View?.DataSections.Remove(dataSection);
            }
            else if (section is SheetSection sheetSection)
            {
                View?.SheetSections.Remove(sheetSection);
            }
            else
            {
                throw new NotImplementedException();
            }
        }
        EditViewPage?.TriggerStateHasChanged();
        return Task.CompletedTask;
    }
}