@using BidConReport.Shared.Features.ReportLayout;
@using BidConReport.Shared.Features.ReportLayout.Information;

<CascadingValue Value="this">


    @if (Layout.TitleSection.IsEnabled)
    {
        <div class="mb-6">
            <MudText Style="@CreateFontStyle(Layout.TitleSection.Font)">@Layout.TitleSection.Title</MudText>
        </div>
    }

    @if(Layout.InformationSection.IsEnabled)
    {
        <div class="mb-6">
            @foreach (var item in Layout.InformationSection.Items)
            {
                @if (item.IsEnabled)
                {
                    <div class="mb-2">
                        <MudText Style="@CreateFontStyle(Layout.InformationSection.TitleFont)">@item.Title</MudText>
                        <MudText Style="@CreateFontStyle(Layout.InformationSection.ValueFont)">@GeneralInformationFunctions[item.Type].Invoke(Estimation)</MudText>
                    </div>
                }
            } 
        </div>
    }

    @if (Layout.PriceSection.IsEnabled)
    {
        <div class="mb-6">
            <div class="d-flex">
                <MudSpacer/>
                <MudText Style="@CreateFontStyle(Layout.PriceSection.CommentFont)">@Layout.PriceSection.Comment</MudText>
            </div>
            <MudDivider />
            <div class="d-flex">
                <MudText Style="@CreateFontStyle(Layout.PriceSection.PriceFont)">@Layout.PriceSection.PriceWithoutChangesDescription</MudText>
                <MudSpacer />
                <MudText Style="@CreateFontStyle(Layout.PriceSection.PriceFont)">@Estimation.CostBeforeChanges.ToString("N0")</MudText>
            </div>
            <MudDivider />
            <div class="d-flex">
                <MudText Style="@CreateFontStyle(Layout.PriceSection.PriceFont)">@Layout.PriceSection.ChangesDescription</MudText>
                <MudSpacer />
                <MudText Style="@CreateFontStyle(Layout.PriceSection.PriceFont)">0</MudText>
            </div>
            <MudDivider />
            <div class="d-flex">
                <MudText Style="@CreateFontStyle(Layout.PriceSection.PriceFont)">@Layout.PriceSection.PriceWithChangesDescription</MudText>
                <MudSpacer />
                <MudText Style="@CreateFontStyle(Layout.PriceSection.PriceFont)">@Estimation.CostBeforeChanges.ToString("N0")</MudText>
            </div>
            <MudDivider/>
        </div>
    }

    @if (Layout.TableSection.IsEnabled)
    {
        <div class="mb-6">
            @foreach (var item in Estimation.Items)
            {
                <EstimationItemView Item="item" />
            }
            <MudDivider Light="true" />
        </div>
    }

</CascadingValue>

@code {
    [Parameter, EditorRequired] public required Estimation Estimation { get; set; }
    public LayoutDefinition Layout { get; set; } = new LayoutDefinition{ Name = "Default" };
    public Dictionary<InformationType, Func<Estimation, string>> GeneralInformationFunctions { get; set; } = new()
    {
        { InformationType.Name, e => e.Name },
        { InformationType.Description, e => e.Description ?? string.Empty },
        { InformationType.CreationDate, e => e.CreationDate.ToString("yyyy-MM-dd") },
        { InformationType.ExpirationDate, e => e.ExpirationDate?.ToString("yyyy-MM-dd") ?? string.Empty },
        { InformationType.PrintDate, e => DateTime.Now.ToString("yyyy-MM-dd") },
        { InformationType.Supervisor, e => e.Supervisor ?? string.Empty },
        { InformationType.Representative, e => e.Representative ?? string.Empty },
        { InformationType.Currency, e => e.Currency },
    };

    void testui()
    {
        //Estimation.Items.First().Name
    }
    public string CreateFontStyle(FontProperties properties)
    {
        var builder = new System.Text.StringBuilder($"font-family: {properties.FontName}; font-size: {properties.FontSize}px; ");
        if (properties.Bold)
        {
            builder.Append("font-weight: bold; ");
        }
        if (properties.Italic)
        {
            builder.Append("font-style: italic; ");
        }
        if (properties.Underline)
        {
            builder.Append("text-decoration-line: underline; ");
        }
        return builder.ToString();
    }

}
