<CascadingValue Value="this">


    @if (Template.TitleSection.IsEnabled)
    {
        <div class="mb-6">
            <MudText Style="@CreateFontStyle(Template.TitleSection.Font)">@Template.TitleSection.Title</MudText>
        </div>
    }
@*
    @if(Template.InformationSection.IsEnabled)
    {
        <div class="mb-6">
            @foreach (var item in Template.InformationSection.Items)
            {
                @if (item.IsEnabled)
                {
                    <div class="mb-2">
                        <MudText Style="@CreateFontStyle(Template.InformationSection.TitleFont)">@item.Title</MudText>
                        <MudText Style="@CreateFontStyle(Template.InformationSection.ValueFont)">@GeneralInformationFunctions[item.Type].Invoke(Estimation)</MudText>
                    </div>
                }
            } 
        </div>
    }*@

    @if (Template.PriceSection.IsEnabled)
    {
        <div class="mb-6">
            <div class="d-flex">
                <MudSpacer/>
                <MudText Style="@CreateFontStyle(Template.PriceSection.CommentFont)">@Template.PriceSection.Comment</MudText>
            </div>
            <MudDivider />
            <div class="d-flex">
                <MudText Style="@CreateFontStyle(Template.PriceSection.PriceFont)">@Template.PriceSection.PriceWithoutChangesDescription</MudText>
                <MudSpacer />
                <MudText Style="@CreateFontStyle(Template.PriceSection.PriceFont)">@Estimation.CostBeforeChanges.ToString("N0")</MudText>
            </div>
            <MudDivider />
            <div class="d-flex">
                <MudText Style="@CreateFontStyle(Template.PriceSection.PriceFont)">@Template.PriceSection.ChangesDescription</MudText>
                <MudSpacer />
                <MudText Style="@CreateFontStyle(Template.PriceSection.PriceFont)">0</MudText>
            </div>
            <MudDivider />
            <div class="d-flex">
                <MudText Style="@CreateFontStyle(Template.PriceSection.PriceFont)">@Template.PriceSection.PriceWithChangesDescription</MudText>
                <MudSpacer />
                <MudText Style="@CreateFontStyle(Template.PriceSection.PriceFont)">@Estimation.CostBeforeChanges.ToString("N0")</MudText>
            </div>
            <MudDivider/>
        </div>
    }

    @if (Template.TableSection.IsEnabled)
    {
        <div class="mb-6">
            @foreach (var item in Estimation.Items)
            {
                <EstimationItemView Item="item" />
            }
            <MudDivider Light="true" />
        </div>
    }

</CascadingValue>

@code {
    [Parameter, EditorRequired] public required EstimationDTO Estimation { get; set; }
    [Parameter, EditorRequired] public required ReportTemplateDto Template { get; set; }
    

    void testui()
    {
        //Estimation.Items.First().Name
    }
    public string CreateFontStyle(FontPropertiesDto properties)
    {
        var builder = new System.Text.StringBuilder($"font-family: {properties.FontFamily}; font-size: {properties.FontSize}px; ");
        if (properties.Bold)
        {
            builder.Append("font-weight: bold; ");
        }
        if (properties.Italic)
        {
            builder.Append("font-style: italic; ");
        }
        if (properties.Underline)
        {
            builder.Append("text-decoration-line: underline; ");
        }
        return builder.ToString();
    }

}
